.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border-radius: 12px;
  background-color: var(--col-900);
  transition: all 0.3s linear;
  &:hover {
    background-color: var(--col-700);
  }
  &:active {
    background-color: var(--col-800);
  }
}

.icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 8px;
  background-color: transparent;
  transition: all 0.3s linear;
  svg {
    path {
      stroke: var(--col-600);
      transition: all 0.3s linear;
    }
    @media screen and (max-width: 1024px) {
      path {
        width: 24px;
        height: 24px;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    &:hover {
      background-color: var(--col-100);
      svg {
        path {
          stroke: var(--col-700);
        }
      }
    }
    &:active {
      background-color: var(--col-200);
      > svg {
        path {
          stroke: var(--col-600);
        }
      }
    }
  }
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
  border-radius: 12px;
  background-color: var(--col-200);
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

section {
  padding: 24px 0;
  &.dark-bg {
    background-color: var(--col-50);
  }
  @media screen and (min-width: 1023px) {
    padding: 90px 0;
  }
  .section-header {
    margin-bottom: 24px;
    @media screen and (min-width: 1023px) {
      margin-bottom: 48px;
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 12px;
      @media screen and (min-width: 1023px) {
        margin-bottom: 16px;
      }
    }
    .subtitle {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}