@import "_root.scss";
@import "_reset.scss";
@import "_typo.scss";
@import "_grid.scss";
@import "_elements.scss";

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--col-600);
  background-color: var(--col-def);
  &.overlay-active {
    max-height: 100vh;
    overflow: hidden;
  }
  @media screen and (min-width: 1024px) {
    &::-webkit-scrollbar {
      width: 12px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: var(--col-200); 
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--col-600);
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--col-900);
    }
  }
}