.hero {
  .hero-content {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 8px;
    @media screen and (min-width: 1024px) {
      margin-top: 0;
      padding: 0;
    }
    .title {
      color: var(--col-900);
      margin-bottom: 12px;
      @media screen and (max-width: 375px) {
        font-size: 24px;
        line-height: 1;
      }
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    .subtitle {
      margin-bottom: 24px;
      @media screen and (min-width: 1024px) {
        margin-bottom: 48px;
      }
    }
    .infos {
      width: 100%;
      > div {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 8px;
      }
    }
    .social {
      margin-top: 20px;
      display: flex;
      align-items: center;
      gap: 4px;
      @media screen and (min-width: 1024px) {
        margin-top: 48px;
      }
      .icon-button {
        padding: 9px;
      }
    }
  }
  .hero-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    @media screen and (max-width: 1023px) {
      img {
        width: 260px;
        height: 260px;
      }
    }
    &::before {
      content : "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 300px;
      height: 240px;
      border-radius: 12px;
      background-color: var(--col-200);
      z-index: -1;
      @media screen and (min-width: 1023px) {
        background-color: transparent;
      }
      @media screen and (min-width: 1440px) {
        background-color: var(--col-200);
        border-radius: 100%;
        transform: unset;
        width: 463px;
        height: 463px;
        top: 0;
        left: -2%;
        transform: unset;
        animation: move 7s linear infinite;
      }
    }
  }
}

@keyframes move {
  0%{
    left: -2%;
  }
  50%{
    left: 20%;
    top: 10%;
  }
  100%{
    top: 0;
    left: -2%;
  }
}